/* Color Palette */
:root {
  --text-color: #000000;
  --background-color: #efefef;
  --title-background-color: #dedede;
  --hero-background-color: #ffffff;
  --project-info-background-color: #a99aff;
  --widget-border-color: #000000;
  --widget-box-shadow: .1rem.1rem 1rem rgba(0, 0, 0, 0.1);

  /* Extra colors */
  --linkedin-color: #0077b5;
  --insta-color: #dd2a78;
  --git-color: #181717;
  --webnote-color: #181818;
  --guftz-color: #E94F37;

  /* Other values*/
  --height-1: 50px;
  --height-2: 100px;
  --height-3: 150px;
  --height-4: 200px;
}

/* General Styles */
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 600px;
  height: 100vh;
  padding: 0 .5rem;
  color: var(--text-color);
  background: var(--background-color);
  font-family: "Raleway", sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 50px;
}

.widget {
  border-radius: 2rem;
  border: 2px solid var(--widget-border-color);
  margin: .5rem;
  overflow: hidden;
  box-shadow: var(--widget-box-shadow);
}

.title {
  height: var(--height-1);
  background: var(--title-background-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

/* Hero */
#hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: var(--hero-background-color);
  height: var(--height-4);
  position: relative;
  overflow: hidden;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: 
    linear-gradient(transparent, white 55%, white 55%, transparent),
    linear-gradient(to right, transparent, white 55%, white 55%, transparent),
    linear-gradient(var(--widget-border-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--widget-border-color) 1px, transparent 1px);
  background-size: 100% 100%, 100% 100%, 20px 20px, 20px 20px;
  opacity: 0.2;
}

#hero-top {
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

#hero-bottom {
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

#hero-name {
  text-decoration: underline; 
  text-decoration-color: orangered;
  text-decoration-style: wavy;
  font-weight: 700;
}


#socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--height-1);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

#social-github {
  background: var(--git-color);
}

#social-linkedin {
  background: var(--linkedin-color);
}

#social-instagram {
  background: var(--insta-color);
}

/* Tools Slider */
#tools {
  overflow: hidden;
  width: 100%;
  position: relative;
}

/* Adding fade effect on sides */
#tools::before,
#tools::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  z-index: 1;
  pointer-events: none;
}

/* Left fade */
#tools::before {
  left: 0;
  background: linear-gradient(to right, var(--background-color), rgba(239, 239, 239, 0));
}

/* Right fade */
#tools::after {
  right: 0;
  background: linear-gradient(to left, var(--background-color), rgba(239, 239, 239, 0));
}

.tools-container {
  display: flex;
  animation: scroll 30s linear infinite;
}

.tool {
  min-width: 100px;
  height: var(--height-1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--hero-background-color);
  font-size: 1.5rem;
  font-weight: 600;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* About */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  height: var(--height-4);
}

/* Projects */
#projects {
  display: grid;
}

.project {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  height: var(--height-4);
}

.project-img {
  height: 55%;
}

.project-img img {
  width: 100%;
}

.project-info {
  height: 45%;
  background: var(--project-info-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 2px solid var(--widget-border-color);
  padding: 0 1rem;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.project-info {
  font-size: 1rem;
  font-weight: 400;
}

/* Large devices */
@media (min-width: 600px) {
  :root {
    /* Other values*/
  --height-1: 50px;
  --height-2: 100px;
  --height-3: 200px;
  --height-4: 300px;
  }

  #hero {
    font-size: 5rem;
  }

  #projects {
    grid-template-columns: 1fr 1fr;
  }

  .project {
    height: var(--height-3);
  }
}
/* XSmall devices */
@media (max-width: 350px) {
  :root {
    /* Other values*/
  --height-1: 50px;
  --height-2: 100px;
  --height-3: 150px;
  --height-4: 150px;
  }

  #hero h1 {
    font-size: 2rem;
  }
  #hero h2 {
    font-size: 1.5rem;
  }
}

/* Non-touch devices */
@media (hover: hover) {
  a:hover {
    transform: scale(.98);
  }
}